@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: #402d53;
  background-image: radial-gradient(
      at 47% 19%,
      hsla(227, 90%, 65%, 1) 0,
      hsla(227, 90%, 65%, 0) 50%
    ),
    radial-gradient(
      at 38% 39%,
      hsla(233, 93%, 52%, 1) 0,
      hsla(233, 93%, 52%, 0) 50%
    ),
    radial-gradient(
      at 80% 67%,
      hsla(145, 94%, 68%, 1) 0,
      hsla(145, 94%, 68%, 0) 50%
    ),
    radial-gradient(
      at 69% 47%,
      hsla(195, 88%, 53%, 1) 0,
      hsla(195, 88%, 53%, 0) 50%
    );
  background-size: 180% 100%;
  animation: gradient-animation 32s ease infinite;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f1f5f9;
  border: 0px none #f1f5f9;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #f1f5f9;
}
::-webkit-scrollbar-track {
  background: #94a3b8;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #94a3b8;
}
::-webkit-scrollbar-track:active {
  background: #94a3b8;
}
::-webkit-scrollbar-corner {
  background: #94a3b8;
}
